@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Global CSS file for base styles and resets.
  TailwindCSS is used for most component-level styling.
*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F5F9; /* slate-100 */
}